.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Graph-container {
  /* width: 80%;  */
  /* width: 1200px; */
  /* height: 650px; */
  border: 1px solid grey;
  margin: 20px 0px 0px 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.Graph-header {
  text-align: left;
  text-transform: uppercase;
  padding-left: 10px;
}

.position {
  padding-bottom: 50px;
  display: block;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
